<%= stylesheet_link_tag "home_alt.css" %>

<div class="main">
<div class="logo">
<h1>dicis.io</h1>
  </div>
<div class="sub"><h2>Fun &amp; easy adhoc group decision making</h2><p></p>
<div class="arrow">
<%= link_to image_tag(src="http://fldoea-public.sharepoint.com/SiteAssets/black%20arrow.gif"), :controller => "events", :action => "new" %>
  <p></p></div>

<p></p></div>

