<%= form_for @event, {:class => 'event_submission'} do |f| %>
	<div class="field">
	<%= f.text_field :name, :placeholder=>('e.g Lunch') %></br></br>
	</div>
  <div class="actions">
    <%= f.submit 'Start'%>
  </div>
<% end %>
