.main
  .logo_event
    %h1 dicis.io

  %h2.option_title What is your option?
  %div.option
    %form#form  
      %input#option_name{'type' => 'text'}
      %input#submit_event{'type' => 'submit', 'value' => '+'}

  %script
    var updateUrl =
    = "'/#@eventId/update-options';"
    var addUrl =
    = "'/#@eventId/add-option';"
  %ul#options
  %div.submit-option
    %a{:href => "/#@eventId/vote"}
      %h2 Vote
  :javascript
    var options = $('#options');
    function update() {
      $.ajax({
        url: updateUrl,
        type: 'POST',
        data: '',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(msg) {
          var children = options.children();
          $(msg).each(function(index, elem) {
            var found = false;
            children.each(function(i, child) {
              if ($(child).html() == elem.name) {
                found = true;
              }
            });
            if (!found) {
              options.append('<div>' + elem.name + '</div>');
            }
          });
          setTimeout(update, 500);
        }
      });
    };
    update();
    $('#submit').on('click', function() {
      $.ajax({
        url: addUrl,
        type: 'POST',
        data: JSON.stringify({ 'option': $('#option').val()}),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
          alert(msg);
        }
      });
    });


