<h1>Listing options</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @options.each do |option| %>
      <tr>
        <td><%= option.name %></td>
      </tr>
    <% end %>
  </tbody>

<%= render 'formoption' %>
</table>


