.main
  .logo_event
    %h1 dicis.io

  %h1 Listing options

  %input#option{'type' => 'text'}
  %input#submit{'type' => 'submit', 'value' => 'add'}

  %script
    var updateUrl =
    = "'/#@eventId/update-options';"
    var addUrl =
    = "'/#@eventId/add-option';"
  :javascript
    $.ajax({
      url: updateUrl,
      type: 'GET',
      data: '',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      async: false,
      success: function(msg) {
        alert(msg);
      }
    });
    $('#submit').on('click', function() {
      $.ajax({
        url: addUrl,
        type: 'POST',
        data: $('#option').val(),
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: true,
        success: function(msg) {
          alert(msg);
        }
      });
    });

