%h1 Listing options

%input#option{'type' => 'text'}
%input#submit{'type' => 'submit', 'value' => 'add'}

%script
  var updateUrl =
  = "'/#@eventId/update-options';"
:javascript
  $.ajax({
    url: updateUrl,
    data: JSON.stringify({});
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    async: false,
    success: function(msg) {
      alert(msg);
    }
  };

