%h1 DecisIo

%form{:method => 'post', :action => ''}
  %label{:for => 'name'} Name your decision:
  %input{:type => 'text', :name => 'name', :id => 'name'}
  %input{:type => 'submit', :value => 'Submit'}
