.main
  .logo_event
    %h1 dicis.io

  %h2.option_title Results

  %script
    var updateUrl =
    = "'/#@eventId/updated_results';"
  %ul#options{:style => "min-height: 170px"}
  :javascript
    var options = $('#options');
    function update() {
      $.ajax({
        url: updateUrl,
        type: 'POST',
        data: '',
        contentType: 'application/json; charset=utf-8',
        dataType: 'json',
        async: false,
        success: function(msg) {
          options.empty();
          $(msg).each(function(index, elem) {
            options.append('<div>' + elem.name + '</div>');
          });
          setTimeout(update, 500);
        }
      });
    };
    update();

