<p id="notice"><%= notice %></p>
<p>Event Name:<%= @event.name %></p>
<p>Event URL:<%= @event.url %></p>

<p>Vote at: <%= link_to "http://www.localhost:3000/#{@event.id}", :controller => 'events', :action => 'getOptions' %></p>

